* {
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
  }
  
  /* start home section  */
  .Home_container {
    border: 1px solid #3b5d50;
    align-items: center;
    margin-bottom: 120px;
    background: #3b5d50;
  }
  
  .Navbar-section {
    width: 80%;
    margin: 0 auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 100px;
  }
  .Nav-logo {
    color: #ffffff;
  }
  .ul {
    display: block;
    nav-right: 0px;
    position: absolute;
    right: 0px;
  }
  ul li {
    display: inline-block;
    padding: 10px;
  }
  ul li a {
    text-decoration: none;
    color: #889791;
  }
  ul li a:hover {
    color: #ffffff;
  }
  .Nav-item {
    position: relative;
    flex: 1;
    height: 40px;
    margin: 0px 50px 0px 50px;
    padding: 0px;
  }
  .Nav-signUp {
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user,
  .cart {
    padding: 5px;
  }
  /* home second section start */
  .Home-about-section {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Home-description {
    width: 40%;
    height: 380px;
    margin-right: 10px;
    align-items: center;
  }
  .home-pera {
    font-size: 34px;
    color: #ffffff;
    font-weight: bold;
  }
  .home-pera2 {
    font-size: 16px;
    color: #b6bdba;
  }
  
  .btn1 {
    height: 50px;
    width: 130px;
    border-radius: 40px;
    margin-right: 20px;
    font-size: 14px;
    color: #434444;
    font-weight: 650;
    background: #f8b810;
    border: none;
  }
  .btn2 {
    height: 50px;
    width: 120px;
    border-radius: 40px;
    border: 1px solid rgb(185, 202, 191);
    color: #fff;
    font-weight: 650;
    background: transparent;
  }
  .btn2:hover {
    border: 2px solid rgb(255, 255, 255);
  }
  .btn1:hover {
    border: 2px solid rgb(255, 255, 255);
  }
  .btn1.btn1:active {
    border: 2px solid rgb(21, 161, 84);
  }
  
  .Home-image {
    width: 60%;
    height: 380px;
  }
  .Home-image-1 {
    position: relative;
    background-image: url(https://untree.co/demos/furni/images/dots-light.svg);
    background-repeat: no-repeat;
    background-position: top -100px left 300px;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  /* home second section end */
  
  /* end home section  */
  
  /* start product section */
  .product-section {
    margin: 0 auto;
    height: 400px;
    margin-top: 200px;
    background: #ffffff;
    align-items: center;
  }
  .product-container {
    width: 80%;
    height: 380px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .flex-1 {
    width: 25%;
    height: 380px;
    overflow: hidden;
  }
  
  .flex-2 {
    width: 74%;
    height: 380px;
    display: flex;
  }
  
  .col-one h1 {
    margin-bottom: 20px;
  }
  .col-one button {
    margin-bottom: 20px;
  }
  .col-two {
    width: 33%;
    margin: 1px;
    height: 380px;
  }
  
  .image img {
    object-fit: cover;
    max-width: 90%;
    align-items: center;
    margin-bottom: 20px;
  }
  .p-tag {
    text-align: center;
  }
  .col-three {
    width: 33%;
    margin: 1px;
    height: 380px;
  }
  
  .col-four {
    width: 33%;
    margin: 1px;
    height: 380px;
  }
  .product-name {
    color: #2d2e2e;
    font-weight: 600;
  }
  .product-price {
    color: #2d2e2e;
    font-weight: 800;
  }
  .button-explore {
    height: 50px;
    width: 130px;
    border-radius: 40px;
    margin-right: 20px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    background: #222222;
    border: none;
  }
  .button-explore:hover {
    border: 2px solid rgb(151, 175, 43);
  }
  
  /* end product section */
  
  /* why-choose-section start */
  .why-choose-section {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 500px;
    margin: 0 auto;
    margin-top: 250px;
    margin-bottom: 200px;
  }
  
  .chooseable-description,
  .chooseable-image {
    width: 49%;
    height: 500px;
  }
  .chooseable-heading {
    height: 100px;
  }
  .choosable-p {
    min-width: 400px;
    color: #505251;
  }
  .description-flex {
    display: flex;
  }
  .first-two-description {
    width: 50%;
    height: 390px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    margin-right: 10px;
  }
  .description-1,
  .description-2 {
    width: 100%;
    margin-top: 10px;
    height: 200px;
    color: #505251;
    font-size: 0.9rem;
  }
  
  .last-two-description {
    width: 50%;
    height: 390px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .description-3,
  .description-4 {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    color: #505251;
    font-size: 0.9rem;
  }
  
  /* image section start */
  .chooseable-image {
    position: relative;
  }
  .image1 {
    width: 80%;
    height: 350px;
    margin: 0 auto;
    position: absolute;
    top: 0px;
    left: 60px;
    z-index: 1;
  }
  .description-image {
    width: 100%;
    max-height: 450px;
    border-radius: 20px;
  }
  .image2 {
    position: absolute;
    top: -75px;
    left: -23px;
    height: 300px;
    width: 300px;
  }
  /* image section ends */
  
  /* why-choose-section ends */
  
  /* ----------------*------------ */
  /* help section start */
  .we-help-section {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
  }
  .decoration-image {
    width: 59%;
    height: 490px;
    margin-right: 10px;
  }
  .description-text {
    width: 40%;
    height: 490px;
    padding-left: 30px;
  }
  .decoration-image {
    position: relative;
  }
  .images1 {
    position: absolute;
    width: 67%;
    height: 100%;
    z-index: 1;
  }
  .images1 img,
  .images2 img,
  .images3 img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  
  .images2 {
    position: absolute;
    width: 60%;
    height: 80%;
    bottom: -50px;
    right: 0px;
    z-index: 1;
  }
  
  .images3 {
    position: absolute;
    width: 30%;
    height: 30%;
    right: 0px;
  }
  .Bg-image {
    position: absolute;
    width: 50%;
    height: 50%;
    top: -70px;
    left: -75px;
  }
  
  .pera h2 {
    width: 98%;
    height: 60px;
    margin-bottom: 30px;
    font-weight: 500;
  }
  .pera p {
    width: 98%;
    height: 120px;
    color: #505251;
    line-height: 1.5rem;
  }
  .ul-help {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-right: 9%;
    margin-left: -10px;
  }
  
  .ul-help li {
    list-style-type: circle;
    color: #505251;
  }
  .button {
    margin-top: 10px;
  }
  /* help section ends */
  
  /* ----------*----------- */
  /* popular product start */
  .popular-product {
    width: 80%;
    height: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    flex-direction: row;
  }
  .popular-product-1,
  .popular-product-2,
  .popular-product-3 {
    width: 33%;
    height: 250px;
    align-items: center;
    display: flex;
  }
  
  .popular-image-1,
  .popular-image-2,
  .popular-image-3 {
    width: 100%;
    margin-right: 10px;
  }
  
  .popular-image-1 img,
  .popular-image-2 img,
  .popular-image-3 img {
    width: 100%;
  }
  .popular-image-1-text a,
  .popular-image-2-text a,
  .popular-image-3-text a {
    text-decoration: none;
    color: #5c5f5e;
    cursor: pointer;
  }
  .popular-image-1-text p,
  .popular-image-2-text p,
  .popular-image-3-text p {
    font-size: 0.8rem;
    color: #505251;
  }
  /* popular product end */
  
  /* ----------*----------- */
  
  /* ----------*----------- */
  /* start testimonials */
  .Testimonials {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
  }
  .testimonials-pera {
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;
  }
  .peragraph-testimonials p {
    color: #505251;
  }
  .image-testimonials img {
    width: 15%;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .image-testimonials p {
    font-size: 0.8rem;
    margin-top: -6px;
    color: #505251;
  }
  /* ends testimonials */
  /* ----------*----------- */
  /* ----------*----------- */
  /* blog section start */
  .recent-blog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .recent-blog-image {
    width: 80%;
    height: 300px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .product-1,
  .product-2,
  .product-3 {
    width: 33%;
  }
  .product-1 img,
  .product-2 img,
  .product-3 img {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
  }
  .product-1 p,
  .product-2 p,
  .product-3 p {
    margin-left: 10px;
    margin-top: 15px;
    line-height: 1em;
  }
  .bold {
    font-weight: 550;
  }
  /* blog section end */
  /* ----------*----------- */
  .svg-wave {
    margin-bottom: 100px;
    margin-top: 40px;
  }
  /* ----------*----------- */
  /* form control section start */
 
  .form-p {
    color: #6b6d6c;
    font-size: 19px;
  }
  .forms {
    display: flex;
    flex-direction: row;
  
    margin: 0 auto;
  }
  .form-1 input,
  .form-2 input {
    border: 1px solid #ced4da;
    border-radius: 15px;
    width: 15em;
    padding: 10px ;
    margin: 10px 10px 10px 0px;
  }
  .form-button {
    margin: 10px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    background: #3b5d50;
    text-align: center;
  }
  .form-button button {
    background: #3b5d50;
    color: #b6bdba;
    font-weight: 550;
    width: 100px;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 8px;
  }
  .mail-section {
    width: 80%;
    margin: 0 auto;

    margin-top: 330px;
  }
  .mail-container {
    width: 50%;
    
  }
  .footer-image {
    width: 50%;
    margin-top: 50px;
  }
  .footer-image img {
    object-fit: cover;
    max-width: 80%;
    margin-top: -100px;
    margin-left: 200px;
  }
  
  /* css grid start*/
  .footer-details {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 70px;
  }
  
  .footer-div1 {
    width: 35%;
  }
  .footer-div1 h2 {
    margin-top: -45px;
    margin-bottom: 20px;
    color: #3b5d50;
    font-size: 2.5rem;
  }
  .footer-div1 p {
    color: #6b6d6c;
  }
  
  .footer-div1 a {
    width: 45px;
    height: 45px;
    margin: 10px;
    cursor: pointer;
  
    display: inline-block;
  }
  .footer-div1 a i {
    width: 45px;
    height: 45px;
    background: #b0cabd;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
  }
  .fa-brands {
  padding-top: 15px;
  }
  .fa-brands:hover{
    background: #3b5d50;
    color: white;
  }
  /* .footer-div1 a:hover{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background:#3b5d50;
  } */
  .footer-div2 {
    width: 63%;
    margin-left: 100px;
  }
  
  .parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .div1,
  .div2,
  .div3,
  .div4,
  .div5,
  .div6,
  .div7,
  .div8,
  .div9,
  .div10,
  .div11,
  .div12,
  .div13,
  .div14,
  a {
    line-height: 40px;
    color: #6b6d6c;
  }
  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div4 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .div5 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .div6 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .div7 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .div8 {
    grid-area: 1 / 3 / 2 / 4;
  }
  .div9 {
    grid-area: 2 / 3 / 3 / 4;
  }
  .div10 {
    grid-area: 3 / 3 / 4 / 4;
  }
  .div11 {
    grid-area: 4 / 3 / 5 / 4;
  }
  .div12 {
    grid-area: 1 / 4 / 2 / 5;
  }
  .div13 {
    grid-area: 2 / 4 / 3 / 5;
  }
  .div14 {
    grid-area: 3 / 4 / 4 / 5;
  }
  /* css grid ends */
  
  .hr {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .copyRightSection {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .copyright p{
    color: #5c5f5e;
    text-align: center;
    align-items: center;
    margin-top: 10px;
  }
  .terms a {
    margin-right: 15px;
    cursor: pointer;
  }
  /* form control section ends */
  /* ----------*----------- */
 