.productDetails {
  display: flex;

  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}
.div-1 {
  width: 50%;
}
.div-2 {
  width: 70%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.productImage-1 {
  width:300px;
}
.productTitle {
  padding: 0px;
  margin-bottom: 20px;
}
.productTitle h2 {
  font-weight: bolder;
}
.productPrice {
  font-size: 30px;
}
.productPrice p {
  font-weight: bolder;
}
.productDescription {
  margin-bottom: 20px;
  font-size: 20px;
}
.addToCartBtn button {
  margin-top: 5px;
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 30px;
  color: #ffffff;
  background: #2f2f2f;
  border-color: #2f2f2f;
}
