@media (min-width:900px){
.carousel{
  width: 80%;
  height:650px;
  margin: 0 auto;
  padding: 10%;
  border-radius: 20px;
  margin-bottom: 50px;
  background: rgb(233, 235, 233);
}

.Heading-testimonil{
  text-align: center;
  margin-bottom: 20px;
 }
 .testimonial-pera {
  color: rgb(60, 61, 61);
  text-align: center;
  margin: 0 auto;
  font-size: 19px;
 }
 .carousel h5{
  margin-top: 15px;
  margin-bottom: -1px;
  text-align: center;
 }

 .position {
  margin-bottom: 50px;
  text-align: center;
 }

 .carouselImage{
  display: flex;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 20%;
  margin-top: 80px;
 }
}
.carousel-control-next-icon{
  background-color: black;
}
.carousel-control-prev-icon{
  background-color: black;
}
  @media (max-width:900px){
.carousel{
  height: 650px;
  padding: 10%;
  background: rgb(227, 231, 227);
}
.Heading-testimonil{
  text-align: center;
  margin-bottom: 20px;
 }
   .testimonial-pera {
    color: rgb(60, 61, 61);
    text-align: center;
    margin: 0 auto;
    font-size: 19px;
   }
   .carousel h6{
    margin-top: 15px;
    margin-bottom: -1px;
    text-align: center;
    
   }
   .carousel h5{
    text-align: center;
    margin-top: 10px;
    margin-bottom: -10px;
   }
  
   .carouselImage{
    display: flex;
    width: 100px;
    margin: 0 auto;
    border-radius: 50px;
    margin-top: 80px;
   }

  }