* {
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
  }
  

  
  /* start home section  */
  .Home_container {
    border: .5px solid #3b5d50;
    align-items: center;
    margin-bottom: 00px;
    background: #3b5d50;
    margin-top: -.5px;
  }



